// IMPORTS

@import "partials/variables.sass"
@import "partials/_misc.sass"
@import "partials/_animations.sass"

// Components
@import "partials/_header.sass"
@import "partials/_tabbar.sass"
@import "partials/_cell.sass"

// layout

main
  display: flex
  flex: 1
  overflow: scroll
  width: 100%
  padding-bottom: 70px
  position: relative

.main-container
  width: 100%
  max-width: 646px
  padding: 0 10px
  margin: auto

.information-source
  width: 100%
  display: block
  padding: 10px 15px 0px 15px
  font-size: 12px
  text-align: center
  opacity: 0.6







